<div>
	<div class="row vk-search-bar">
		<form class="form-inline" data-role="form" name="form" data-ng-submit="doSearch()">
			<div class="form-group">
				<input type="text" class="form-control" placeholder="城市" data-ng-model="condition.city">
			</div>
			<div class="form-group">
				<input type="text" class="form-control" placeholder="区" data-ng-model="condition.district">
			</div>
			<div class="form-group">
				<input type="text" class="form-control" placeholder="街道" data-ng-model="condition.street">
			</div>
			<div class="form-group">
				<input class="form-control" style="width:150px;" placeholder="开始时间" data-ng-model="condition.dateTimeFrom" data-bs-datepicker date-format="yyyy-MM-dd" type="text">
				<input class="form-control" style="width:150px;" placeholder="结束时间" data-ng-model="condition.dateTimeTo" data-bs-datepicker date-format="yyyy-MM-dd" type="text">
			</div>
			<button type="submit" class="btn btn-primary">Search</button>
			<button class="btn btn-primary" data-ng-click="doReset()">Reset</button>
			<button type="button" class="btn btn-primary" data-ng-click="doOpenEditModal()">新建</button>
		</form>
	</div>
	<div class="vk-grid" data-ng-grid="gridOptions"></div>
</div>