<div class="modal" tabindex="-1" data-role="dialog">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-ng-click="$hide()">&times;</button>
				<h4 class="modal-title">
					<strong>确认加档</strong>
				</h4>
			</div>
			<div class="modal-body">
				<h5>您确认增大火力吗？</h5>
			</div>
			<div class="modal-footer">
				<button type="submit" class="btn btn-primary" data-ng-click="doAdd()">确认</button>
				<button type="button" class="btn btn-info" data-ng-click="$hide()">取消</button>
			</div>
		</div>
	</div>
</div>