/* line 3, ../../Compass/main.scss */
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
/* line 11, ../../Compass/main.scss */
body {
  font-family: "Heiti SC", "Microsoft Yahei", STXihei, Hei, SimSun;
  background-color: #f9f9f2;
  height: 100%;
}

/* line 17, ../../Compass/main.scss */
hr {
  margin-top: 10px;
  margin-bottom: 10px;
  border: 0;
  border-top: 1px solid #eeeeee;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
/* line 27, ../../Compass/main.scss */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  text-align: center;
}

/* Custom page header */
/* line 35, ../../Compass/main.scss */
.header {
  margin-top: -50px;
}

/* Make the masthead heading the same height as the navigation */
/* line 41, ../../Compass/main.scss */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
}

/* Custom page footer */
/* line 49, ../../Compass/main.scss */
.footer {
  padding-top: 40px;
  color: #777;
}

/* line 55, ../../Compass/main.scss */
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
/* line 60, ../../Compass/main.scss */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}

/* line 65, ../../Compass/main.scss */
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* line 70, ../../Compass/main.scss */
.vk-nav {
  margin-top: 0px;
}

/* line 74, ../../Compass/main.scss */
.vk-menu {
  padding: 10px 0 10px 10px;
}

/* line 78, ../../Compass/main.scss */
.vk-content {
  margin: 10px;
}

/* line 82, ../../Compass/main.scss */
.welcome-msg {
  margin-top: 0px;
  margin-right: 20px;
}

/* line 87, ../../Compass/main.scss */
.dotted {
  border-top: 1px dotted black;
  color: #f9f9f2;
  background-color: #f9f9f2;
  height: 1px;
}

/* line 94, ../../Compass/main.scss */
.arranged {
  background-color: green;
  color: #FFFFFF;
  text-align: center;
}

/* style for the header */
/* line 101, ../../Compass/main.scss */
.vk-header {
  height: 40px;
  background-color: black;
}

/* line 106, ../../Compass/main.scss */
.vk-header p {
  font-size: 1.3em;
  float: right;
  color: #c93939;
  margin-right: 10px;
  height: 40px;
  line-height: 40px;
}

/* line 115, ../../Compass/main.scss */
.vk-header img {
  float: right;
  margin-right: 60px;
  margin-top: 10px;
}

/* line 121, ../../Compass/main.scss */
.vk-logo {
  height: 80px;
  width: 500px;
  background: url("../images/logo1.png") no-repeat 0px 6px;
  background-size: 40%;
}

/* line 128, ../../Compass/main.scss */
.vk-nav-info {
  height: 25px;
  border-bottom: 1px dashed #C0C0C0;
}

/* line 133, ../../Compass/main.scss */
.vk-sub-title {
  font-size: 1.1em;
  float: left;
  width: 200px;
  text-align: center;
}

/* line 140, ../../Compass/main.scss */
.vk-nav-right {
  float: right;
  font-size: 1.2em;
  margin-right: 52px;
}

/* line 146, ../../Compass/main.scss */
.vk-article {
  min-height: 600px;
  background: url("../images/article_bg.png") no-repeat 0px 0px;
  padding: 5px;
}

/* line 152, ../../Compass/main.scss */
.vk-date-inline {
  width: 200px !important;
}

/* line 156, ../../Compass/main.scss */
.vk-grid {
  border: 1px solid #dcdcdc;
  height: 300px;
}

/* line 161, ../../Compass/main.scss */
.vk-actions {
  margin: 10px 0;
}

/* line 165, ../../Compass/main.scss */
.vk-grid-actions {
  padding: 4px;
}

/* line 169, ../../Compass/main.scss */
.vk-form {
  margin-left: 800px;
}

/* line 173, ../../Compass/main.scss */
.vk-form h1 {
  padding-top: 45px;
  padding-bottom: 45px;
}

/* line 178, ../../Compass/main.scss */
.vk-form .form-group {
  padding-top: 10px;
}

/* line 182, ../../Compass/main.scss */
.vk-signup {
  margin-left: -110px;
}

/* line 186, ../../Compass/main.scss */
.vk-info {
  font-size: 1.3em;
  padding-bottom: 40px;
}

/* line 191, ../../Compass/main.scss */
.vk-highlight {
  color: red;
}

/* line 195, ../../Compass/main.scss */
.vk-tab-content {
  padding: 10px;
}

/* line 199, ../../Compass/main.scss */
.vk-nav > li > a {
  padding: 0px 15px;
}

/* line 203, ../../Compass/main.scss */
.vk-left-nav > li > a {
  padding: 0px 15px;
}

/* line 207, ../../Compass/main.scss */
.vk-left-nav > li {
  height: 68px;
  line-height: 68px;
  background: url("../images/nav_bg.png") no-repeat 47px 0px;
}

/* line 213, ../../Compass/main.scss */
.vk-left-nav > li + li {
  margin-top: 0px;
}

/* line 217, ../../Compass/main.scss */
.vk-left-nav > li > a {
  margin-left: 94px;
  font-size: 1.2em;
}

/* line 222, ../../Compass/main.scss */
.vk-left-nav > li.active {
  background: url("../images/active_nav_bg.png") no-repeat 47px 0px;
}

/* line 226, ../../Compass/main.scss */
.vk-left-nav > li:last-child {
  background: url("../images/last_nav_bg.png") no-repeat 47px 0px;
}

/* line 230, ../../Compass/main.scss */
.vk-left-nav > li:last-child.active {
  background: url("../images/last_active_nav_bg.png") no-repeat 47px 0px;
}

/* line 234, ../../Compass/main.scss */
.avatar {
  height: 123px;
  margin-left: 15px;
  margin-top: 30px;
  background: url("../images/avatar_bg.png") no-repeat;
}

/* line 241, ../../Compass/main.scss */
.avatar > img {
  margin-left: 4px;
  margin-top: 7px;
  background-color: black;
}

/* line 247, ../../Compass/main.scss */
.vk-gender {
  font-size: 1.5em;
  color: #48c2f1;
}

/* line 252, ../../Compass/main.scss */
.vk-trial {
  margin-top: 10px;
  margin-right: 10px;
}

/* line 257, ../../Compass/main.scss */
.vk-course-intro {
  width: 755px;
  height: 414px;
  padding: 15px 25px;
  background: url("../images/course_intro_bg.png") no-repeat;
}

/* line 264, ../../Compass/main.scss */
.vk-bottom-btn {
  width: 100%;
  text-align: center;
  padding-top: 340px;
}

/* line 270, ../../Compass/main.scss */
.vk-course-ad {
  margin-top: 30px;
  background: url("../images/ad_bg.png") no-repeat;
  padding: 20px 25px;
}

/* line 276, ../../Compass/main.scss */
.vk-course-ad > h3 {
  text-align: center;
}

/* line 280, ../../Compass/main.scss */
.vk-system {
  width: 774px;
  height: 383px;
  margin-left: -15px;
  margin-top: 20px;
  background: url("../images/system.png") no-repeat;
}

/* line 288, ../../Compass/main.scss */
.vk-settings {
  margin-top: 20px;
}

/* line 292, ../../Compass/main.scss */
.vk-settings > ul > li > a {
  cursor: pointer;
}

/* line 296, ../../Compass/main.scss */
.tab-pane {
  border-bottom: 1px solid #dddddd;
  border-left: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
}

/* line 302, ../../Compass/main.scss */
.vk-setting-form {
  padding: 20px;
  width: 80%;
}

/* line 307, ../../Compass/main.scss */
.vk-table {
  padding: 10px;
  margin-left: -15px;
}

/* line 312, ../../Compass/main.scss */
.vk-search-bar {
  margin: 10px 0px;
}

/* line 316, ../../Compass/main.scss */
.vk-search-bar > form > .form-group {
  padding: 0px;
}

/* line 320, ../../Compass/main.scss */
.alert.top-right {
  position: fixed;
  top: 50px;
  z-index: 1050;
  margin: 20px;
  right: 0;
}

/* line 328, ../../Compass/main.scss */
.copy-btn {
  margin-top: -80px;
}

/* line 332, ../../Compass/main.scss */
.vk-currentwk-hint {
  margin-top: 100px;
}
/* line 334, ../../Compass/main.scss */
.vk-currentwk-hint div {
  margin-top: 30px;
}

/* line 339, ../../Compass/main.scss */
.vk-time-table {
  width: 900px;
}

/* line 343, ../../Compass/main.scss */
.vk-td-disabled {
  cursor: not-allowed;
  background-color: red !important;
}

/* line 348, ../../Compass/main.scss */
.vk-td-selected {
  cursor: not-allowed;
  background-color: blue !important;
}

/* line 353, ../../Compass/main.scss */
.vk-img-circle {
  background-color: gray;
  height: 60px;
  line-height: 60px;
  width: 60px;
  border-style: double;
  border-width: 3px;
  border-radius: 50% !important;
  color: white;
  text-align: center;
  font-size: 1em;
  border-color: white;
  padding: 0px;
  margin: 0px;
}

/* line 369, ../../Compass/main.scss */
.vk-img-circle.active {
  border-color: #f77229;
}

/* line 374, ../../Compass/main.scss */
.vk-schedule-table .row {
  line-height: 66px;
}

/* line 379, ../../Compass/main.scss */
.vk-schedule-row {
  margin: 5px 0px;
  border-bottom-width: 1px;
  border-bottom-color: gray;
  border-bottom-style: solid;
}

/* line 386, ../../Compass/main.scss */
.vk-warning {
  background-color: #fcf8e3;
  font-size: 2em;
  text-align: center;
  opacity: 0.8;
}

/* line 393, ../../Compass/main.scss */
.vk-warn {
  color: red;
  font-weight: bold;
}

/* line 398, ../../Compass/main.scss */
.vk-well {
  margin: 10px;
}

/* line 402, ../../Compass/main.scss */
.vk-detail-header {
  padding: 10px 5px;
  font-size: 14px;
  font-weight: bold;
  -webkit-box-shadow: inset 1px 1px 25px 3px #c7c5c7;
  -moz-box-shadow: inset 1px 1px 25px 3px #c7c5c7;
  box-shadow: inset 1px 1px 25px 3px #c7c5c7;
}

/* line 411, ../../Compass/main.scss */
.vk-detail-tab {
  padding: 10px 20px;
  font-size: 14px;
  font-weight: bold;
}

/* line 417, ../../Compass/main.scss */
.btn-default {
  color: #000000;
  background-color: #FFFFFF;
  border-color: #FFFFFF;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* line 425, ../../Compass/main.scss */
  .container {
    width: 100%;
    padding: 0;
  }

  /* Remove the padding we set earlier */
  /* line 432, ../../Compass/main.scss */
  .header,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }

  /* Space out the masthead */
  /* line 437, ../../Compass/main.scss */
  .header {
    margin-bottom: 30px;
  }

  /* Remove the bottom border on the jumbotron for visual effect */
  /* line 441, ../../Compass/main.scss */
  .jumbotron {
    border-bottom: 0;
  }

  /*add model css*/
  /* line 446, ../../Compass/main.scss */
  .app-modal-window .modal-dialog {
    width: 70%;
    min-width: 500px;
  }
}
